.App {
  display: flex;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 70px;
  background-color: #0484d3;
}

.sidenav__icon {
  margin: 20% 0 20% 0;
  color: white;
}

.toolbar {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px 0 0;
}

.search {
  display: flex;
  align-items: center;
}

.main {
  width: 100%;
  padding: 2%;
}

.main__grid {
  margin: 2%;
}

.grid {
  height: calc(100% - 68px);
}
