.App {
  display: flex;
}

.grid {
  height: 100%;
  width: 70%;
}

.main {
  width: 100%;
  padding: 20px;
}

.main__grid {
  margin: 2%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px 0 0;
}

.redisData {
  display: flex;
  height: calc(100% - 44px - 10px);
}

.search {
  display: flex;
  align-items: center;
}

.sideDrawer {
  width: 30%;
  height: calc(100% - 44px - 10px);
  /* background-color: aqua; */
  padding: 10px;
  border: 1px solid grey;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 70px;
  background-color: #0484d3;
}

.sidenav__icon {
  margin: 20% 0 20% 0;
  color: white;
}

.toolbar {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
