.pagination {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 10px 0 0;
  &__fields {
    display: flex;
    align-self: center;
  }
  &__button {
    color: $primary;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}
