.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 70px;
  background-color: $primary;
  &__icon {
    margin: 20% 0 20% 0;
    color: white;
    width: 48px;
  }
}
