.toolbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  margin-bottom: 8px;
  &__actions {
    display: flex;
    align-items: center;
  }
  &__header {
    font-size: 28px;
    font-weight: bold;
  }
  &__button {
    @include clearButton;
    color: white;
    background-color: $primary;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 16px;
  }
}
