*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainContainer {
  width: 100%;
  padding: 20px;
}

.mainContainer__contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 44px - 10px);
}

.mainContainer__gridWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.mainContainer__toolbar {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid grey;
  margin-bottom: 8px;
}

.mainContainer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sideDrawer {
  width: 30%;
  height: calc(100% - 10px);
  padding: 10px;
  border: 1px solid grey;
}

.sideDrawer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideDrawer__formField {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3px 0;
}

.sideDrawer__formLabel {
  margin-right: 3px;
}

.sideDrawer__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideDrawer__warning {
  color: red;
  margin-top: 0;
  font-size: 0.8rem;
}

.sideDrawer__valueCodeBlock {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px;
  overflow: auto;
}

.sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 70px;
  background-color: #0484d3;
}

.sidenav__icon {
  margin: 20% 0 20% 0;
  color: white;
}

.grid {
  height: 90%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 10px 0 0;
}

.pagination__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.pagination__button {
  color: #0484d3;
  opacity: 0.9;
}

.pagination__button:hover {
  opacity: 1;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 4px;
}

.search__input {
  padding: 9px 18px 9px 36px;
  border-radius: 5px;
  border: 1px solid black;
}

.search__icon {
  cursor: pointer;
  position: absolute;
  right: 8px;
  font-size: 18px;
  color: #afafaf;
}
/*# sourceMappingURL=main.css.map */